[submodule "Projects/Text-Editor"]
	path = Projects/Text-Editor
	url = https://github.com/Alperencode/Text-Editor.git
[submodule "Projects/C-Shell"]
	path = Projects/C-Shell
	url = https://github.com/Alperencode/C-Shell.git
[submodule "Projects/Process-Manager"]
	path = Projects/Process-Manager
	url = https://github.com/alperencode/Process-Manager
